body{
	background-color:#ffffff;
	color:#000000;
	font:11px verdana,sans-serif;
	overflow:auto;
	margin:0}
.tabtytul{ /* tabelka z grafik¹ (nag³ówek) */
	background-color:#7b90d5;
	border-bottom:2px solid #808080}
.tytul{ /* komórka z tytu³em */
	background-color:#7b90d5;
	color:#ffffff;
	height:80px;
	font:bold 36px verdana,sans-serif;
	border-bottom:2px solid #c0c0c0}
.logo{ /* komórka z logo szko³y */
	text-align:right;
	border-bottom:2px solid #c0c0c0}
.tytulnapis{ /* tytu³ strony z cieniem (tylko IE) */
	padding-left:20px;width:400px;height:60px;filter:Shadow(Color=#666666,Direction=150)}
.tabela{ /* tabela z planem */
	border:2px outset #e1e6f5;
	background-color:#e1e6f5}
td{
	font-size:11px}
a:link{color:#2e448f}
a:visited{color:#4e6ac7}
a:hover{color:#2e448f;text-decoration:none}
@media print{
.tabtytul{ /* nag³ówek do druku */
	display:none}
}
